<header>
  <nav class="nav-bar">
    <div class="left-nav">
      <div class="nav-logo">
        <a class="nav-link" href="/">
          <span><i class="fa-solid fa-robot"></i> BYTES</span>
        </a>
      </div>
      <ul>
        <li class="nav-link"><a href="/about">ABOUT US</a></li>
        <li class="divider">|</li>
        <li class="nav-link"><a href="/menu">MENU</a></li>
        <!-- setting user id -->
        <% if(user === "1") { %>
        <li class="divider">|</li>
        <li class="nav-link"><a href="/management/orders">MANAGE ORDERS</a></li>
        <li class="divider">|</li>
        <li class="nav-link"><a href="/management/menu">MANAGE MENU</a></li>
        <% } else if (user) { %>
        <li class="divider">|</li>
        <li class="nav-link"><a href="/user/orders">MY ORDERS</a></li>
        <li class="divider">|</li>
        <li class="nav-link"><a href="/user/ordering">ORDER NOW</a></li>
        <% } %>
      </ul>
    </div>
    <div class="right-nav">
      <% if (!user) { %>
      <form method="POST" action="/login/1">
        <button id="login" type="submit">
          <span><i class="fa-sharp fa-solid fa-user"></i></span>
          <span>LOG IN VENDOR</span>
        </button>
      </form>
      <form method="POST" action="/login/2">
        <button id="login" type="submit">
          <span><i class="fa-sharp fa-solid fa-user"></i></span>
          <span>LOG IN CUSTOMER</span>
        </button>
      </form>
      <% } else { %>
      <form method="POST" action="/logout">
        <button id="logout" type="submit">
          <span><i class="fa-sharp fa-solid fa-user"></i></span>
          <span>LOG OUT</span>
        </button>
      </form>
      <% } %>
    </div>
  </nav>
</header>
