<header>
  <nav class="nav-bar">
    <div class="left-nav">
      <div class="nav-logo">
        <span>🤖 BYTES</span>
      </div>
      <ul>
        <li><span>ABOUT US</span></li>
        <li><span>MENU</span></li>
      </ul>
    </div>
    <div class="right-nav">
      <button id="login" type="button">
        <span><i class="fa-sharp fa-solid fa-user"></i></span>
        <span>LOGIN</span>
      </button>
    </div>
  </nav>
</header>
