<header>
  <nav class="nav-bar">
    <div class="left-menu">
      <div class="nav-logo">
        <span>🤖 a byte to eat</span>
      </div>
      <ul>
        <li><span>ABOUT US</span></li>
        <li><span>MENU</span></li>
      </ul>
    </div>

    <button id="login" type="button">LOGIN</button>
  </nav>
</header>
