DB_HOST=localhost
DB_USER=labber
DB_PASS=labber
DB_NAME=midterm
# Uncomment and set to true for Heroku
# DB_SSL=true if heroku
DB_PORT=5432
TWILIO_ACCOUNT_SID=AC5b2abc72d4e58e3f2d849d1e32f7c509
TWILIO_AUTH_TOKEN=d56defd7a50cbe6318827ee09eb215cf
