DB_HOST=localhost
DB_USER=labber
DB_PASS=labber
DB_NAME=midterm
# Uncomment and set to true for Heroku
# DB_SSL=true if heroku
DB_PORT=5432
TWILIO_ACCOUNT_SID=ACde1945e1f76a4f7dd56a7a9d512a59db
TWILIO_AUTH_TOKEN=e8763e3f3bee5ec8f3c654998daee6f2

# uncomment for the lastest tokens
# TWILIO_ACCOUNT_SID=AC5b2abc72d4e58e3f2d849d1e32f7c509
# TWILIO_AUTH_TOKEN=bc3a3a055daae2499863009c1df51b54

