<!DOCTYPE html>
<html lang="en">
  <head>
    <title>About Us</title>

    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
      integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Courier+Prime:wght@400;700&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
    <link rel="stylesheet" href="/vendor/border-box.css" />
    <link rel="stylesheet" href="/styles/main.css" />
    <link rel="stylesheet" href="/styles/layout.css" />
    <link rel="stylesheet" href="/styles/nav-bar.css" />

    <script src="/vendor/jquery-3.0.0.js"></script>
    <script defer src="/scripts/app.js"></script>
  </head>

  <body>
    <%- include('./partials/_header.ejs') %>
    <div class="left-stack"><img src="./images/ph-stack-left.png"></div>
    <main class="text-container">
      <img src="./images/ph-banner.jpeg" />
      <h1>
        <i class="fa-solid fa-robot"></i> Welcome to BYTES
        <i class="fa-solid fa-robot"></i>
      </h1>
      <p>
        We are proud to be Canada's #1 lunch destination for discerning robots
        on the go! Our farm-to-table offerings are perfect for anything from a
        quick bite to an extended dining experience. We blend cozy comfort foods
        with modern innovation to create a unique dining experience like no
        other.
      </p>
      <p>
        Our menu is inspired by the rich and diverse culinary traditions of
        Canada, featuring hearty and comforting dishes made with fresh,
        locally-sourced ingredients. From classic poutine to gourmet mac and
        cheese, our menu offers a modern twist on traditional Canadian
        favorites. Our cozy and inviting atmosphere provides the perfect
        backdrop for enjoying a delicious meal with family and friends.
      </p>
      <p>
        Whether you're looking for a quick lunch or a leisurely dinner, we
        invite you to join us and savorr the flavorrs of Canada with a modern
        twist.
      </p>
      <p>
        Our new, online takeout system makes it easier than ever to place an
        order. With a focus on guest satisfaction and a commitment to
        innovation, we invite you to dine with us and experience the ultimate in
        convenience, quality, and happiness.
      </p>
    </main>
  </body>
</html>
